Repository bellshade/Assembly: changes, and which Mergify rules are due for each by the changed paths.
All: assembly label, markdown label

assembly label:
  label:
    add:
    - assembly files
    - request tim assembly untuk review

markdown label:
  label:
    add:
    - markdown files

docs: memperbaiki typo pada docs (#6)
  basic/06_variabel/README.md
  basic/07_konstant/README.md
  basic/08_fungsi_aritmatika/README.md
Due: markdown label

feat: menambahkan materi file eksternal
  intermediate/01_file_eksternal/README.md
  intermediate/01_file_eksternal/fungsi.asm
  intermediate/01_file_eksternal/utama.asm
Due: assembly label, markdown label

docs: menambahkan dokumentasi
  README.md
Due: markdown label

docs: menambahkan emoji dokuemtnasi
  basic/README.md
Due: markdown label

docs: memperbaiki typo dan huruf
  basic/07_konstant/README.md
  basic/08_fungsi_aritmatika/README.md
  basic/09_instruksi_logika/README.md
Due: markdown label

docs: memperbaiki typo dan huruf (#7)
  basic/07_konstant/README.md
  basic/08_fungsi_aritmatika/README.md
  basic/09_instruksi_logika/README.md
Due: markdown label

feat: menambahkan enkripsi sha256 dengan assembly 256
   ARM64ARCH/sha256.s
Due: none

add: contoh program cek palindrome
  simple_asm/cekpalindrome.asm
Due: assembly label

add: program sederhana faktor persekutuan terbesar
  math/gcd.asm
Due: assembly label

add: program sederhana faktor persekutuan terbesar (#9)
  math/gcd.asm
Due: assembly label

add: menambahkan program ganjil genap
  simple_asm/ganjil_genap.asm
Due: assembly label

add: menambahkan program ganjil genap (#10)
  simple_asm/ganjil_genap.asm
Due: assembly label

Update README.md
  README.md
Due: markdown label

menbahkan program print angka multigit
  simple_asm/print_angka_multidigit.asm
Due: assembly label

menbahkan program print angka multigit (#12)
  simple_asm/print_angka_multidigit.asm
Due: assembly label

Update README.md (#11)
  README.md
Due: markdown label

menambhkan program atoi
  simple_asm/simple_atoi.asm
Due: assembly label

add: menambahkan program atoi(versi sendiri)
  simple_asm/simple_atoi.asm
Due: assembly label

docs: fix typo on url
  README.md
Due: markdown label

docs: fix typo on url (#14)
  README.md
Due: markdown label

feat: menambahkan contoh mengecek angka prima
  math/prima.asm
Due: assembly label

feat: menambahkan contoh mengecek angka prima (#15)
  math/prima.asm
Due: assembly label

feat: menambahkan contoh program tahun kabisat
  simple_asm/tahun_kabisat.asm
Due: assembly label

feat: menambahkan contoh program tahun kabisat (#16)
  simple_asm/tahun_kabisat.asm
Due: assembly label

fix typo in line 78 and 98
  README.md
Due: markdown label

docs: menambahkan template pull request
  .github/pull_request_template.md
Due: markdown label

docs: menambahkan template pull request (#18)
  .github/pull_request_template.md
Due: markdown label

fix typo in line 78 and 98 (#17)
  README.md
Due: markdown label

feat :menambahkan contoh program perpangkatan
  math/perpangkatan.asm
Due: assembly label

feat: menambahkan program perpangkatan
  math/math_pangkat.asm
Due: assembly label

feat: menambahkan komentar deskripsi jenis assembly
  math/math_pangkat.asm
Due: assembly label

Perpangkatan (#19)
  math/math_pangkat.asm
Due: assembly label

feat: menambahkan program membalikkan kata
  math/reverse_kata.asm
Due: assembly label

feat: menambahkan contoh program membalikkan kata (#20)
  math/perpangkatan.asm
  math/reverse_kata.asm
Due: assembly label

rapihin comment
  simple_asm/cekpalindrome.asm
Due: assembly label

rapihin koment
  simple_asm/cekpalindrome.asm
Due: assembly label

remove initial space from " ARM64ARCH" to "ARM64ARCH"
  ARM64ARCH/sha256.s
Due: none

fix: fixed error (missing line)
  basic/11_perulangan/perulangan.asm
Due: assembly label

feat: menambahkan contoh program mengubah angka ke string
  simple_asm/itoa.asm
Due: assembly label

Path conditions:
  assembly label: any of: \.asm$
  markdown label: any of: \.md$
