Repository bellshade/Assembly: changes, and which Mergify rules are due for each by the changed paths.
All: assembly label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: assembly label
    conditions:
      - files~=\.asm$
    actions:
      label:
        add:
          - assembly files
          - request tim assembly untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review assembly team untuk file markdown
    conditions:
      - label=assembly files
    actions:
      request_reviews:
        teams:
          - "@slowy07"

feat: kostanta
  basic/7_konstant/README.md
  basic/7_konstant/konstant.asm
  basic/7_konstant/makefile
Due: assembly label, markdown label

fix: reformat kode
  basic/3_register/contoh_register.asm
  basic/6_variabel/variabel_asm.asm
Due: assembly label

feat: operasi aritmatika
  basic/8_fungsi_aritmatika/README.md
  basic/8_fungsi_aritmatika/aritmatika.asm
  basic/8_fungsi_aritmatika/makefile
  basic/8_fungsi_aritmatika/menambah_kedua_variabel.asm
Due: assembly label, markdown label

feat: instruksi logika
  basic/9_instruksi_logika/README.md
  basic/9_instruksi_logika/instruksi_and.asm
  basic/9_instruksi_logika/instruksi_or.asm
Due: assembly label, markdown label

feat: instruksi logika
  basic/10_instruksi_kondisi/README.md
  basic/10_instruksi_kondisi/instruksi_kondisi.asm
Due: assembly label, markdown label

docs: update dokumentasi
  README.md
Due: markdown label

feat: menambahkan materi looping
  basic/11_perulangan/README.md
  basic/11_perulangan/perulangan.asm
Due: assembly label, markdown label

feat: representasi angka
  basic/12_data_angka/README.md
  basic/12_data_angka/data_numerik.asm
  basic/12_data_angka/representasi_ascii.asm
  basic/12_data_angka/representasi_bcd.asm
Due: assembly label, markdown label

docs: menambahkan dokumentasi list materi yang diberikan
  README.md
  basic/00_pemahaman/README.md
  basic/00_pemahaman/comment_dan_statement_asm.md
  basic/01_hello_world/README.md
  basic/01_hello_world/helloworld.asm
  basic/02_memory_segment/README.md
  basic/03_register/README.md
  basic/03_register/contoh_register.asm
  basic/04_pemanggilan_sistem/README.md
  basic/04_pemanggilan_sistem/pemanggilan_sistem.asm
  basic/05_addressing_mode/README.md
  basic/05_addressing_mode/addressing_mode.asm
  basic/06_variabel/README.md
  basic/06_variabel/variabel_asm.asm
  basic/07_konstant/README.md
  basic/07_konstant/konstant.asm
  basic/07_konstant/makefile
  basic/08_fungsi_aritmatika/README.md
  basic/08_fungsi_aritmatika/aritmatika.asm
  basic/08_fungsi_aritmatika/makefile
  basic/08_fungsi_aritmatika/menambah_kedua_variabel.asm
  basic/09_instruksi_logika/README.md
  basic/09_instruksi_logika/instruksi_and.asm
  basic/09_instruksi_logika/instruksi_or.asm
  basic/9_instruksi_logika/README.md
  basic/9_instruksi_logika/instruksi_and.asm
  basic/9_instruksi_logika/instruksi_or.asm
Due: assembly label, markdown label

docs: memperbaiki link
  README.md
Due: markdown label

docs: menambahkan informasi tentang assembly
  basic/README.md
Due: markdown label

docs: menambahkan informasi dari sejarah bahasa assembly
  basic/README.md
Due: markdown label

docs: update readme
  basic/README.md
Due: markdown label

docs: menambahkan linking berikutnya
  basic/README.md
Due: markdown label

docs: memperbaiki dokumentasi
  README.md
  basic/00_pemahaman/README.md
Due: markdown label

docs: memperbaiki typo pada dokumentasi
  README.md
Due: markdown label

feat: data string
  basic/13_string/README.md
  basic/13_string/string.asm
Due: assembly label, markdown label

feat: menambahkan maateri array
  README.md
  basic/14_array/README.md
  basic/14_array/array.asm
Due: assembly label, markdown label

feat: menambahkan materi prosedur
  basic/15_prosedur/README.md
  basic/15_prosedur/prosedur.asm
Due: assembly label, markdown label

feat: update dokuemntasi dan setting bot
  .mergify.yml
  README.md
Due: markdown label

feat: menambahkan materi rekursif
  basic/16_rekursif/README.md
  basic/16_rekursif/rekursif.asm
Due: assembly label, markdown label

docs: merapikan materi
  basic/01_hello_world/README.md
  basic/02_memory_segment/README.md
  basic/02_memory_segment/memori.asm
  basic/03_register/README.md
Due: assembly label, markdown label

docs: menghapus typo
  basic/16_rekursif/README.md
Due: markdown label

feat: menambahkan materi makro
  basic/17_makro/README.md
  basic/17_makro/makro.asm
Due: assembly label, markdown label

fix: memperbaiki huruf kapital dan tanda baca.
  basic/01_hello_world/README.md
Due: markdown label

fix: memperbaiki huruf, typo, dan tanda baca
  basic/01_hello_world/README.md
Due: markdown label

docs: memperbaiki huruf, typo. dan tanda baca
  basic/01_hello_world/README.md
Due: markdown label

feat: amenambahkan materi manajemen file
  basic/18_manajemen_file/README.md
  basic/18_manajemen_file/filesaya.txt
  basic/18_manajemen_file/manajemen_file.asm
Due: assembly label, markdown label

docs: memperbaiki huruf kapital, typo, dan tanda baca (#1)
  basic/01_hello_world/README.md
Due: markdown label

feat: menambahkan manajemen memori
  README.md
  basic/19_manajemen_memori/README.md
  basic/19_manajemen_memori/manajemen_memori.asm
Due: assembly label, markdown label

docs: memperbaiki typo, kapital, dan typo
  basic/03_register/README.md
Due: markdown label

docs: memperbaiki typo, dan tanda baca
  basic/03_register/README.md
Due: markdown label

docs: memperbaiki typo, dan tanda baca (#2)
  basic/03_register/README.md
Due: markdown label

docs: memperbaiki typo
  basic/00_pemahaman/README.md
  basic/00_pemahaman/comment_dan_statement_asm.md
Due: markdown label

docs: memperbaiki typo
  basic/04_pemanggilan_sistem/README.md
  basic/05_addressing_mode/README.md
Due: markdown label

docs: memperbaiki typo (#4)
  basic/04_pemanggilan_sistem/README.md
  basic/05_addressing_mode/README.md
Due: markdown label

docs: memperbaiki typo (#3)
  basic/00_pemahaman/README.md
  basic/00_pemahaman/comment_dan_statement_asm.md
Due: markdown label

feat: menambahkan assembly versi 68k
  basic/01_hello_world/helloworld68.asm
Due: assembly label

docs: memperbaiki typo pada docs
  basic/06_variabel/README.md
  basic/07_konstant/README.md
  basic/08_fungsi_aritmatika/README.md
Due: markdown label
